<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">

			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">New Games</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab1" class="tab-pane active">
							<div class="products-slick" data-nav="#slick-nav-1">
								@foreach (var newGame in Model)
								{
									<!-- product -->
									<div class="product">
										<div class="product-img">
											<img src="@Url.Content($"~/{newGame.ImagePath}")" alt="">
											<div class="product-label">
												<span class="new">NEW</span>
											</div>
										</div>
										<div class="product-body">
											<p class="product-category">@newGame.Category</p>
											<h3 class="product-name"><a asp-controller="Game" asp-action="Details" asp-route-id="@newGame.Id">@newGame.Title</a></h3>
											<h4 class="product-price">$@newGame.Price</h4>
											<div class="product-rating">
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
												<i class="fa fa-star"></i>
											</div>
											<div class="product-btns">
												<button class="add-to-wishlist"><a asp-controller="Wishlist" asp-action="AddToWishlist" asp-route-id="@newGame.Id"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></a></button>											</div>
										</div>
										<div class="add-to-cart">
											<a asp-controller="Order" asp-action="AddToCart" asp-route-id="@newGame.Id.ToString()"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i>add to cart</button></a>
										</div>
									</div>
									<!-- /product -->
								}
							</div>
							<div id="slick-nav-1" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->