@model IEnumerable<TopSellingGameViewModel>

<!-- SECTION -->
<div class="section">
	<!-- container -->
	<div class="container">
		<!-- row -->
		<div class="row">
			<!-- section title -->
			<div class="col-md-12">
				<div class="section-title">
					<h3 class="title">Top selling</h3>
				</div>
			</div>
			<!-- /section title -->
			<!-- Products tab & slick -->
			<div class="col-md-12">
				<div class="row">
					<div class="products-tabs">
						<!-- tab -->
						<div id="tab2" class="tab-pane fade in active">
							@if (!Model.Any())
							{
								<h2>Top-selling games will be featured here once available. Check out our latest games in the meantime!</h2>
							}
							else
							{
								<div class="products-slick" data-nav="#slick-nav-2">
									@foreach (var game in Model)
									{
										<!-- product -->
										<div class="product">
											<div class="product-img">
												<img src="@Url.Content($"~/{game.ImagePath}")" alt="">
											</div>
											<div class="product-body">
												<p class="product-category">@game.Category</p>
												<h3 class="product-name"><a asp-controller="Game" asp-action="Details" asp-route-id="@game.Id">@game.Title</a></h3>
												<h4 class="product-price">$@game.Price</h4>
												<div class="product-rating">
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
													<i class="fa fa-star"></i>
												</div>
												<div class="product-btns">
													<button class="add-to-wishlist"><a asp-controller ="Wishlist" asp-action="AddToWishlist" asp-route-id="@game.Id"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></a></button>
												</div>
											</div>
											<div class="add-to-cart">
												<a asp-controller="Order" asp-action="AddToCart" asp-route-id="@game.Id"><button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button></a>
											</div>
										</div>
										<!-- /product -->
									}
								</div>
							}
							<div id="slick-nav-2" class="products-slick-nav"></div>
						</div>
						<!-- /tab -->
					</div>
				</div>
			</div>
			<!-- /Products tab & slick -->
		</div>
		<!-- /row -->
	</div>
	<!-- /container -->
</div>
<!-- /SECTION -->