@model CheckoutViewModel
@{
    ViewData["PhoneNumber"] = "+359 89 000 0000";
}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="~/css/cart.css" />
<div class="container">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-md-9">
                <div class="ibox">
                    <div class="ibox-title">
                        <span class="pull-right">(<strong>@Model.Items.Count()</strong>) items</span>
                        <h5>Items in your cart</h5>
                    </div>
                    @if (Model.Items.Any())
                    {
                        @foreach (var item in Model.Items)
                        {
                            <div class="ibox-content">
                                <div class="table-responsive">
                                    <table class="table shoping-cart-table">
                                        <tbody>
                                            <tr>
                                                <td width="90">
                                                    <img src="@Url.Content($"~/{item.GameImagePath}")" style="width: 75px;" />
                                                </td>
                                                <td class="desc">
                                                    <h3>
                                                        <a href="#" class="text-navy">
                                                            @item.GameTitle
                                                        </a>
                                                    </h3>
                                                    <p class="small">
                                                        @item.GameTitle
                                                    </p>
                                                    @* <dl class="small m-b-none">
                                                        <dt>Description lists</dt>
                                                        <dd>A description list is perfect for defining terms.</dd>
                                                    </dl> *@

                                                    <div class="m-t-sm">
                                                        <a href="#" class="text-muted"><i class="fa fa-gift"></i> Add gift package</a>
                                                        |
                                                        <a asp-controller="Order" asp-action="RemoveFromCart" asp-route-id="@item.GameId" class="text-muted"><i class="fa fa-trash"></i> Remove item</a>
                                                    </div>
                                                </td>

                                                <td>
                                                    $@item.PriceAtPurchase
                                                    <s class="small text-muted">$@item.PriceAtPurchase</s>
                                                </td>
                                                <td width="65">
                                                    <input type="text" class="form-control" placeholder="1">
                                                </td>
                                                <td>
                                                    <h4>
                                                        $@item.PriceAtPurchase
                                                    </h4>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        }
                    }
                    else
                    {
                        <h2>Your cart is empty.</h2>
                    }
                    <div class="ibox-content">
                        @if (Model.Items.Any())
                        {
                            <a asp-controller="Order" asp-action="Checkout" class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart"></i> Checkout</a>
                        }
                        else
                        {
                            <button class="btn btn-primary pull-right"><i class="fa fa fa-shopping-cart" disabled></i> Checkout</button>
                        }

                        <a asp-controller="Home" asp-action="Index" class="btn btn-white"><i class="fa fa-arrow-left"></i> Continue shopping</a>

                    </div>
                </div>

            </div>
            <div class="col-md-3">
                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Cart Summary</h5>
                    </div>
                    <div class="ibox-content">
                        <span>
                            Total
                        </span>
                        <h2 class="font-bold">
                            $@Model.TotalPrice
                        </h2>

                        <hr>
                        <span class="text-muted small">
                            *With you purchase you agree ......
                        </span>
                        <div class="m-t-sm">
                            <div class="btn-group">
                                <a asp-controller="Order" asp-action="Checkout" class="btn btn-primary btn-sm"><i class="fa fa-shopping-cart"></i> Checkout</a>
                                <a asp-controller="Home" asp-action="Index" class="btn btn-white btn-sm"> Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-title">
                        <h5>Support</h5>
                    </div>
                    <div class="ibox-content text-center">
                        <h3><i class="fa fa-phone"></i> @ViewData["PhoneNumber"]</h3>
                        <span class="small">
                            Please contact with us if you have any questions. We are avalible 24h.
                        </span>
                    </div>
                </div>

                <div class="ibox">
                    <div class="ibox-content">

                        <p class="font-bold">
                            Other products you may be interested
                        </p>
                        <hr>
                        <div>
                            <a href="#" class="product-name"> Product 1</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                        <hr>
                        <div>
                            <a href="#" class="product-name"> Product 2</a>
                            <div class="small m-t-xs">
                                Many desktop publishing packages and web page editors now.
                            </div>
                            <div class="m-t text-righ">

                                <a href="#" class="btn btn-xs btn-outline btn-primary">Info <i class="fa fa-long-arrow-right"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>