@model RegisterFormModel
@{
	Layout = null;
}
<!doctype html>
<html lang="en">
  <head>
	<title>Gamefinity</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="~/login-register-page/css/login.css">

	</head>
	<body class="img js-fullheight" style="background-image: url('/images/background-images/login-background2.jpeg')">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Register</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      			<h3 class="mb-4 text-center">Have an account? <a asp-controller="User" asp-action="Login"><b>Sign in</b></a></h3>
		      			<form method="post" class="signin-form">
							<div class="form-group">
								<input asp-for="@Model.FirstName" type="text" class="form-control" placeholder="Your first name here..." required>
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input asp-for="@Model.LastName" type="text" class="form-control" placeholder="Your last name here..." required>
								<span asp-validation-for="FirstName" class="text-danger"></span>
							</div>
		      				<div class="form-group">
		      					<input asp-for="@Model.Email" type="text" class="form-control" placeholder="Your email here..." required>
								<span asp-validation-for="Email" class="text-danger"></span>
		      				</div>
							<div class="form-group">
								<input asp-for="@Model.Password" id="password-field" type="password" class="form-control" placeholder="Your password here..." required>
								<span asp-validation-for="@Model.Password" class="text-danger"></span>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>
							<div class="form-group">
								<input asp-for="@Model.ConfirmPassword" id="confirmpassword-field" type="password" class="form-control" placeholder="Confirm the password..." required>
								<span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
								<span toggle="#confirmpassword-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
							</div>

							<div class="form-group">
	            				<button type="submit" class="form-control btn btn-primary submit px-3">Sign Up</button>
							</div>
					  </form>
					</div>
				</div>
			</div>
		</div>
	</section>

	@* @section Scripts {
		<partial name="_ValidationScriptsPartial" />
	} *@

	<script src="~/login-register-page/js/jquery.min.js"></script>
	<script src="~/login-register-page/js/popper.js"></script>
	<script src="~/login-register-page/js/bootstrap.min.js"></script>
	<script src="~/login-register-page/js/login.js"></script>

	</body>
</html>